/* The styles below must be set */
*{
    box-sizing:content-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100vh;
    min-width: 100vw;
}

.progressBar_container{
    position: relative;
    height:50px;
}

.audioContainer{
    padding: 10px;
}

.playerSlider{
    position:absolute;
    height:100%;
    width:20px;
}

.progressBar{
    position: relative;
    height:50px;
}

/* Be careful when editing the ones below */

.progressBar_container{
    width:50vw;         /* Read the comment for the width of the progressBar */
    margin: auto;
}

.progressBar{
    width:calc(50vw - 20px);    /* If the width for the progresBar_container is 'X', the width for this must be: || calc(X - 20px) || */
}

@media screen and (max-width:500px){
    .progressBar_container{
        width: 100vw;
    }
    
    .progressBar{
        width:calc(100vw - 20px)
    }
}

/* The styles below may be edited within reason */

.progressBar_container{
    height:50px;
    cursor:pointer;
    -webkit-transition:background-color .2s ease;
    transition:background-color .2s ease;
    background-color:rgba(0, 0, 0, 0.5);
}

.playerSlider{
    background-color:rgba(221, 221, 221, 0.3);
    -webkit-transition:background-color .2s ease;
    transition:background-color .2s ease;
}

.playerSlider:hover{
    background-color:rgba(221, 221, 221, 0.5);
}

.playerSlider:active{
    background-color:rgba(221, 221, 221, 0.7);
}

.progressBar_container:hover{
    background-color:rgba(0, 0, 0, 0.5);
}

.progressBar_container:active{
    background-color:rgba(0, 0, 0, 0.7);
}

.playPauseButton{
    display: block;
    padding:20px 50px;
    font-size: 150%;
    background-color:#6ba065; /* For pause: #b95252 */
    color:#fff;
    border:0;
    border-radius: 5px;
    outline: none;
    margin: 10px auto;
}

#background-image{
    top:0;
    left:0;
    position: fixed;
    background: url(../images/backgroundCity.jpg);
    
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    
    -webkit-filter:sepia(60%) blur(5px);
    filter:sepia(60%) blur(5px);
    
    z-index: -100;
    width:100vw;
    height: 100vh;
}